.goBackButton {
    margin-top: 2rem;
    padding: 0.6rem 1.2rem;
    background: linear-gradient(145deg, #292929, #006ccc);;
    color: #fee6ff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .goBackButton:hover {
    scale: 1.05;
  }
  