.loaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    color: white;
  }
  
  .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top-color: #89008d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
  }
  
  .text {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: black;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  