.navbar {
  background-color: #111;
  color: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li{
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.menu li:hover {
  color: #facc15;
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #111;
    flex-direction: column;
    display: none;
  }

  .menu ul {
    flex-direction: column;
    padding: 1rem 2rem;
  }
}
  