.container {
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  /* color: rgb(193, 37, 255); */
}


  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .message {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background-color: #0070f3;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0059c1;
  }