.container {
  padding: 2rem;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  background-color: var(--background);
  border-radius: 12px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--heading-clr);
  text-align: center;
  border-bottom: 2px solid var(--primary-clr);
}

.message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--primary-text-clr);
  text-align: center;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-clr);
  color: var(--secondary-text-clr);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: var(--hover-primary-clr);
  transform: scale(1.05);
}