.container {
  padding: 2rem;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  background: var(--background); 
  border-radius: 12px;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--heading-clr); 
  margin-bottom: 32px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-clr);
}

.pageList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pageItem {
  margin-bottom: 16px;
}

.pageLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-text-clr); 
  font-size: 1.1rem;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 8px;
  background: linear-gradient(145deg, #292929, var(--primary-clr));
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.pageLink:hover {
  background: linear-gradient(145deg, #292929, var(--hover-primary-clr));
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.pageText {
  flex: 1;
  text-align: left;
}

.arrow {
  font-size: 1.3rem;
  color: #fee6ff; 
  transition: transform 0.3s ease;
  scale: 1.5;
}

.pageLink:hover .arrow {
  transform: translateX(4px);
}
