.container {
  padding: 2rem;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  background-color: var(--background);
  border-radius: 12px;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--heading-clr);
  border-bottom: 2px solid var(--primary-clr);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}
