.container {
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  background-color: var(--background);
  border-radius: 12px;
}

.movieDetail {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: var(--foreground);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-heading-clr);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary-clr);
}

.releaseYear, .rating {
  font-size: 1.1rem;
  color: var(--secondary-text-clr);
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--secondary-text-clr);
  line-height: 1.6;
}

.movieDetail:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
