.container {
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  background: var(--background);
  border-radius: 12px;
}

.pageTitle {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--heading-clr);
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase; 
  border-bottom: 2px solid var(--primary-clr);
}

.section {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background: linear-gradient(145deg, #292929, var(--primary-clr));
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.section:hover {
  background: linear-gradient(145deg, #292929, var(--hover-primary-clr)); 
  transform: scale(1.02); 
}

.sectionTitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary-heading-clr); 
  margin-bottom: 0.5rem;
}

.sectionContent {
  color: var(--secondary-text-clr); 
  line-height: 1.7;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
