.container {
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  /* color: rgb(193, 37, 255); */
}
  
  .pageTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .section {
    margin-bottom: 2rem;
    padding: 1.2rem;
    background-color: #ffffff;
    border-left: 4px solid #89008d;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .section:hover {
    background-color: #fee6ff;
  }
  
  .sectionTitle {
    font-size: 1.2rem;
    color: #89008d;
    margin-bottom: 0.5rem;
  }
  
  .sectionContent {
    color: #444;
    line-height: 1.6;
    font-size: 1rem;
  }
  